.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-nav {
  display: flex;
  gap: 12px;
}

.icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.search-bar {
  display: flex;
  justify-content: center;
  flex: 1;
  margin: 0 20px;
}

.search-input {
  width: 50%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 25px;
}

.right-side {
  display: flex;
  align-items: center;
}

.img-header {
  width: 100px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.profile-text {
  font-weight: bold; 
}
