.adminBar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2%;
  margin-top: 2%;
}

.adminTab {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 25px;
  width: 60px;
  text-align: center;
}
